@page "/auth/create-new-password"

@using VolunteerManager.UI.Shared.Components
@using Microsoft.AspNetCore.Components.Web
@using MudBlazor

<PageTitle>
    Create your account
</PageTitle>

<AnimatedBackground/>

<MudGrid Class="mx-auto text-center position-absolute"
         Style="background-color: var(--mud-palette-surface); 
                -ms-border-radius: 10px;
                border-radius: 10px;
                box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 50%);
                left: 50vw;
                max-width: 450px;
                padding: 4rem 4rem 6rem;
                position: fixed;
                top: 50vh;
                -ms-transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);">    

    <MudItem xs="12">
        <Logo Class="d-block mx-auto mb-3 logo"/>
    </MudItem>

    <MudItem xs="12">

        <MudForm @onsubmit="OnSubmitAsync"
                 @ref="_form">

            <MudGrid>

                <MudItem xs="12">
                    <div class="d-flex justify-center">
                        <MudText>
                            Create new password
                        </MudText>
                    </div>
                </MudItem>

                <MudItem xs="12">
                    <MudTextField Label="New Password"
                                  Variant="Variant.Outlined"
                                  @bind-Value="_model.NewPassword"
                                  For="@(() => _model.NewPassword)"
                                  id="newPassword"
                                  Name="newPassword"
                                  InputType="@_passwordInput"
                                  Adornment="Adornment.End"
                                  AdornmentIcon="@_passwordInputIcon"
                                  OnAdornmentClick="TogglePasswordVisibility"
                                  Validation="ValidatePassword"/>
                </MudItem>

                <MudItem xs="12">
                    <MudTextField Label="Confirm New Password"
                                  Variant="Variant.Outlined"
                                  @bind-Value="_model.ConfirmNewPassword"
                                  For="@(() => _model.ConfirmNewPassword)"
                                  id="confirmNewPassword"
                                  Name="confirmNewPassword"
                                  InputType="@_passwordInput"
                                  Validation="ValidateConfirmPassword"/>
                </MudItem>

                <MudItem Class="d-flex justify-center"
                         xs="12">
                    <MudButton ButtonType="ButtonType.Submit"
                               Variant="Variant.Filled"
                               Color="Color.Primary"
                               Size="Size.Large"
                               class="w-100"
                               Disabled="@_processing">
                        @if (_processing)
                        {
                            <MudProgressCircular Class="ms-n1"
                                             Size="Size.Small"
                                             Indeterminate="true" />
                            <MudText Class="ms-2">
                                Submitting
                            </MudText>
                        }
                        else
                        {
                            <MudText>
                                Submit
                            </MudText>
                        }
                    </MudButton>
                </MudItem>

                <MudItem Class="d-flex justify-center align-center flex-column"
                         xs="12">
                    <MudText>
                        Any troubles? Email us.
                    </MudText>

                    <MudLink Href="mailto:helpdesk@home-accounting.com"
                             Underline="Underline.Always">
                        helpdesk@home-accounting.com
                    </MudLink>
                </MudItem>
            </MudGrid>
        </MudForm>

    </MudItem>

</MudGrid>