@page "/auth/login"

@using Microsoft.AspNetCore.Components.Web
@using MudBlazor

<PageTitle>
    Login
</PageTitle>

<div class="d-flex flex-row">
    <div class="login-part">
        <div class="d-flex flex-column login-part-inner">
            <MudHidden Breakpoint="Breakpoint.MdAndUp">
                <MudImage Src="images/login-full.svg" 
                            Style="height: 300px"/>
            </MudHidden>
            <MudText Typo="Typo.h2"
                     Style="font-weight: 800">
                Welcome back
            </MudText>
            <MudText Typo="Typo.subtitle1" 
                     Style="margin-top: 15px;
                            margin-bottom: 75px;
                            font-size: 20px">
                let's continue where you left off
            </MudText>
            <MudForm @onsubmit="OnSubmitAsync"
                     @ref="_form">

                <MudGrid>
                    <MudItem xs="12">
                        <MudTextField T="string"
                                      Label="Email"
                                      Variant="Variant.Outlined"
                                      id="email"
                                      Name="email"
                                      @bind-Value="@_model.Email"
                                      For="@(() => _model.Email)"
                                      Required="true"/>

                    </MudItem>

                    <MudItem xs="12">
                        <MudTextField Label="Password"
                                      Variant="Variant.Outlined"
                                      @bind-Value="_model.Password"
                                      For="@(() => _model.Password)"
                                      Name="password"
                                      InputType="@_passwordInput"
                                      Adornment="Adornment.End"
                                      AdornmentIcon="@_passwordInputIcon"
                                      OnAdornmentClick="TogglePasswordVisibility"
                                      Required="true"/>
                    </MudItem>

                    <MudItem Class="d-flex flex-column"
                             xs="12">
                        <MudLink Underline="Underline.None"
                                 OnClick="ResetPasswordAsync">
                            Forgot Password?
                        </MudLink>
                    </MudItem>

                    <MudItem xs="12">
                        <MudContainer Class="d-flex flex-grow-1 h-100">
                        </MudContainer>
                    </MudItem>
                    <MudItem xs="12">
                        <div Class="d-flex flex-row">
                            <MudText>
                                Don't have an account? &nbsp;
                            </MudText>
                            <MudLink OnClick="GoToSignUp">
                                Sign Up
                            </MudLink>
                        </div>
                    </MudItem>

                    <MudItem Class="d-flex justify-center"
                             xs="12">
                        <MudButton ButtonType="ButtonType.Submit"
                                   Variant="Variant.Filled"
                                   Color="Color.Success"
                                   Size="Size.Large"
                                   Disabled="@_processing"
                                   class="w-100">
                            @if (_processing)
                            {
                                <MudProgressCircular Class="ms-n1"
                                                     Size="Size.Small"
                                                     Indeterminate="true"/>
                                <MudText Class="ms-2">
                                    Signing In
                                </MudText>
                            }
                            else
                            {
                                <MudText>
                                    Sign In
                                </MudText>
                            }
                        </MudButton>
                    </MudItem>
                </MudGrid>
            </MudForm>
        </div>
    </div>
    <MudHidden Breakpoint="Breakpoint.SmAndDown">
        <div class="picture-part">
            <MudImage Src="images/login-full.svg" 
                      Style="height: 100%"/>
        </div>
    </MudHidden>
</div>