@page "/account"

@using Microsoft.AspNetCore.Components.Web
@using MudBlazor
@using Microsoft.AspNetCore.Components.Forms

<PageTitle>
    Account
</PageTitle>

<MudGrid>
    <MudItem xs="12"
             md="4">
        <MudContainer Style="background-color: var(--mud-palette-surface);
                             -ms-border-radius: 10px;
                             border-radius: 10px; 
                             height: fit-content;
                             padding: 30px;">
            <MudGrid>
                <MudItem xs="12">
                    <div class="square">
                        <div class="square-inner">
                            @if (string.IsNullOrEmpty(_user?.ImageDataUrl))
                            {
                                <MudAvatar Color="Color.Primary"
                                           Style="height: 100%; width: 100%">
                                    Your Avatar Will Appear Here
                                </MudAvatar>
                            }
                            else
                            {
                                <MudAvatar Image="@_user.ImageDataUrl"
                                           Style="height: 100%; width: 100%">
                                </MudAvatar>
                            }
                        </div>
                    </div>
                </MudItem>
                <MudItem xs="12"
                         Style="display: flex">
                    <MudSpacer/>
                    <MudFileUpload T="IBrowserFile"
                                   FilesChanged="UploadFilesAsync">
                        <ButtonTemplate>
                            <MudFab HtmlTag="label"
                                    Color="Color.Secondary"
                                    Icon="@Icons.Material.Filled.Image"
                                    Label="@(_user?.ImageDataUrl == null ? "Upload Avatar" : "Change Avatar")"
                                    for="@context"/>
                        </ButtonTemplate>
                    </MudFileUpload>
                    <MudSpacer/>
                </MudItem>
            </MudGrid>
        </MudContainer>
    </MudItem>
    <MudItem xs="12"
             md="4">
        <MudContainer Style="background-color: var(--mud-palette-surface); 
                             -ms-border-radius: 10px; 
                             border-radius: 10px;
                             height: fit-content;
                             padding: 30px;">
            <MudForm @ref="_changePasswordForm">
                <MudGrid>
                    <MudItem xs="12">
                        <MudTextField T="string"
                                      InputType="InputType.Text"
                                      Label="Old Password"
                                      Variant="Variant.Outlined"
                                      Class="w-100"
                                      id="oldPassword"
                                      name="oldPassword"
                                      @bind-Value="_oldPassword"
                                      Validation="ValidateOldPasswordInput"/>
                    </MudItem>
                    <MudItem xs="12">
                        <MudTextField T="string"
                                      InputType="InputType.Text"
                                      Label="New Password"
                                      Variant="Variant.Outlined"
                                      Class="w-100"
                                      id="newPassword"
                                      name="newPassword"
                                      @bind-Value="_newPassword"
                                      Validation="ValidateNewPasswordInput" />
                    </MudItem>
                    <MudItem xs="12">
                        <MudTextField T="string"
                                      InputType="InputType.Text"
                                      Label="Confirm New Password"
                                      Variant="Variant.Outlined"
                                      Class="w-100"
                                      id="confirmNewPassword"
                                      name="confirmNewPassword"
                                      @bind-Value="_confirmNewPassword"
                                      Validation="ValidateConfirmNewPasswordInput" />
                    </MudItem>
                </MudGrid>
            </MudForm>
            <MudItem xs="12">
                <MudContainer Class="d-flex">
                    <MudSpacer/>
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Success"
                               Disabled="@(_processingChangePassword || string.IsNullOrWhiteSpace(_oldPassword) || string.IsNullOrWhiteSpace(_newPassword) || string.IsNullOrWhiteSpace(_confirmNewPassword))"
                               OnClick="@(() => ChangePasswordAsync(_cts.Token))"
                               Class="mt-5">
                               @if (_processingChangePassword)
                        {
                            <MudProgressCircular Class="ms-n1"
                                                 Size="Size.Small"
                                                 Indeterminate="true" />
                            <MudText Class="ms-2">
                                Submitting
                            </MudText>
                        }
                        else
                        {
                            <MudText>
                                Submit
                            </MudText>
                        }
                    </MudButton>
                    <MudSpacer/>
                </MudContainer>
            </MudItem>
        </MudContainer>
    </MudItem>
</MudGrid>