@using Microsoft.AspNetCore.Components.Routing
@using MudBlazor

@inherits LayoutComponentBase;

<MudThemeProvider @ref="@_mudThemeProvider"
                  @bind-IsDarkMode="@_isDarkMode" />
<MudDialogProvider/>
<MudSnackbarProvider/>
@if (!_inited)
{
    <AnimatedBackground/>
}
else if (IsAuth)
{
    <MudLayout>
        @Body
    </MudLayout>
}
else
{
    <MudLayout>
        <MudAppBar Elevation="0"
                   Style="height: 110px;
                          background-color: var(--mud-palette-background);
                          padding-top: 20px">
        
        <MudImage Src="images/logo.svg"
                  Height="90"/>

        <MudSpacer />
        
        <MudCheckBox T="bool?"
                     TriState="true"
                     CheckedIcon="@Icons.Material.Filled.LightMode"
                     UnCheckedColor="Color.Surface"
                     Color="Color.Info"
                     IndeterminateIcon="@Icons.Material.Filled.AutoAwesome"
                     UncheckedIcon="@Icons.Material.Filled.DarkMode"
                     Checked="_themeState"
                     CheckedChanged="OnThemeChangedAsync"
                     Style="margin-right: 15px;">

        </MudCheckBox>

        
        <MudIconButton Icon="@Icons.Material.Outlined.Notifications"
                       Color="Color.Info"
                       Size="Size.Large"
                       Style="margin-right: 15px;"/>

        <MudMenu Direction="Direction.Left"
                     OffsetX="true"
                     Dense="true">
                <ActivatorContent>
                    <div class="d-flex flex-row align-center justify-center">
                        @if (string.IsNullOrEmpty(_currentUser?.ImageDataUrl))
                        {
                            <MudAvatar Color="Color.Info">
                                @_currentUser.FirstName.FirstOrDefault()
                            </MudAvatar>
                        }
                        else
                        {
                            <MudAvatar Image="@_currentUser?.ImageDataUrl"
                                       Style="height: 50px; width: 50px;">
                            </MudAvatar>
                        }
        
                        <MudText Style="font-size: 18px;
                                        color: var(--mud-palette-text-primary);
                                        margin-left: 20px">
                            @_currentUser?.FullName
                        </MudText>
                    </div>
                </ActivatorContent>
                <ChildContent>
                    <UserCard Class="mt-n2"
                              CurrentUser="@_currentUser" />
                    <MudDivider Class="mb-2" />

                    <MudButton ButtonType="ButtonType.Submit"
                               Variant="Variant.Filled"
                               Color="Color.Error"
                               Style="margin-left: 5%; width: 90%;"
                               Size="Size.Small"
                               OnClick="@LogoutAsync">
                        Logout
                    </MudButton>

                </ChildContent>
            </MudMenu>
        <MudIconButton Icon="@Icons.Material.Outlined.Menu"
                       Size="Size.Large"
                       Style="margin-left: 50px;
                              color: var(--mud-palette-text-primary);"/>
        
    </MudAppBar>
        @Body
    </MudLayout>

    <MudScrollToTop>
        <MudFab Color="Color.Tertiary"
                Icon="@Icons.Material.Filled.ArrowCircleUp"
                title="Go to top"/>
    </MudScrollToTop>
}
