@using Microsoft.AspNetCore.Components.Routing
@using MudBlazor

@inherits LayoutComponentBase;

<MudThemeProvider @ref="@_mudThemeProvider"
                  @bind-IsDarkMode="@_isDarkMode" />
<MudDialogProvider/>
<MudSnackbarProvider/>
@if (!_inited)
{
    <AnimatedBackground/>
}
else if (IsAuth)
{
    <MudLayout>
        @Body
    </MudLayout>
}
else
{
    <MudLayout>
        <MudDrawer Class="h-100 mx-auto"
                   Style="background-color: var(--mud-palette-surface);
                          padding: 35px;"
                   @bind-Open="@_isDrawerOpen"
                   Anchor="Anchor.Right"
                   Elevation="2"
                   Width="300px"
                   Variant="@DrawerVariant.Temporary">
            <MudGrid>
                <MudItem xs="12"
                         Class="d-flex flex-row">
                    <MudIconButton Icon="@Icons.Material.Rounded.Close"
                                   Size="Size.Large"
                                   Style="color: var(--mud-palette-text-primary);
                                          font-weight: 700;
                                          margin-left: -35px;
                                          margin-top: -35px;"
                                   OnClick="@(() => _isDrawerOpen = !_isDrawerOpen)" />
                </MudItem>
                <MudItem xs="12"
                         Class="d-flex flex-row">
                    <MudSpacer/>
                    <MudLink href="/account"
                             OnClick="@(() => _isDrawerOpen = !_isDrawerOpen)"
                             Underline="Underline.None">
                        <MudText Typo="Typo.h4"
                                 Style="color: var(--mud-palette-text-primary);
                                        font-weight: 700;">
                            Profile
                        </MudText>
                    </MudLink>
                </MudItem>
                <MudItem xs="12"
                         Class="d-flex flex-row">
                    <MudSpacer />
                    <MudLink href="/achievements"
                             OnClick="@(() => _isDrawerOpen = !_isDrawerOpen)"
                             Underline="Underline.None">
                        <MudText Typo="Typo.h4"
                                 Style="color: var(--mud-palette-text-primary);
                                        font-weight: 700;">
                            Achievements
                        </MudText>
                    </MudLink>
                </MudItem>
                <MudItem xs="12"
                         Class="d-flex flex-row">
                    <MudSpacer />
                    <MudLink href="/settings"
                             OnClick="@(() => _isDrawerOpen = !_isDrawerOpen)"
                             Underline="Underline.None">
                        <MudText Typo="Typo.h4"
                                 Style="color: var(--mud-palette-text-primary);
                                        font-weight: 700;">
                            Settings
                        </MudText>
                    </MudLink>
                </MudItem>
            </MudGrid>
            <MudLink OnClick="LogoutAsync"
                     Underline="Underline.None"
                     Style="margin-top: auto;
                            margin-left: auto">
                <MudText Typo="Typo.h4"
                         Color="Color.Error"
                         Style="font-weight: 700;">
                    Logout
                </MudText>
            </MudLink>
        </MudDrawer>
        <MudAppBar Elevation="0"
                   Style="height: 110px; background-color: var(--mud-palette-background); padding-top: 20px">

            <MudHidden Breakpoint="Breakpoint.MdAndUp"
                       Invert="true">
                <MudLink href="/">
                    <MudImage Src="@(_isDarkMode ? "images/logo-black.svg" : "images/logo.svg")"
                              Height="90"/>
                </MudLink>
            </MudHidden>
            <MudSpacer/>

            <MudCheckBox T="bool?"
                         TriState="true"
                         CheckedIcon="@Icons.Material.Filled.LightMode"
                         UnCheckedColor="Color.Surface"
                         Color="Color.Info"
                         IndeterminateIcon="@Icons.Material.Filled.AutoAwesome"
                         UncheckedIcon="@Icons.Material.Filled.DarkMode"
                         Checked="_themeState"
                         CheckedChanged="OnThemeChangedAsync"
                         Style="margin-right: 15px;">

            </MudCheckBox>


            <MudIconButton Icon="@Icons.Material.Outlined.Notifications"
                           Color="Color.Info"
                           Size="Size.Large"
                           Style="margin-right: 15px;"/>

            <MudMenu Direction="Direction.Left"
                     OffsetX="true"
                     Dense="true">
                <ActivatorContent>
                    <div class="d-flex flex-row align-center justify-center">
                        @if (string.IsNullOrEmpty(_currentUser?.ImageDataUrl))
                        {
                            <MudAvatar Color="Color.Info">
                                @_currentUser?.FirstName.FirstOrDefault()
                            </MudAvatar>
                        }
                        else
                        {
                            <MudAvatar Image="@_currentUser?.ImageDataUrl"
                                       Style="height: 50px; width: 50px;">
                            </MudAvatar>
                        }

                        <MudText Style="font-size: 18px; color: var(--mud-palette-text-primary); margin-left: 20px">
                            @_currentUser?.FullName
                        </MudText>
                    </div>
                </ActivatorContent>
                <ChildContent>
                    <UserCard Class="mt-n2"
                              CurrentUser="@_currentUser"/>
                    <MudDivider Class="mb-2"/>

                    <MudButton ButtonType="ButtonType.Submit"
                               Variant="Variant.Filled"
                               Color="Color.Error"
                               Style="margin-left: 5%; width: 90%;"
                               Size="Size.Small"
                               OnClick="@LogoutAsync">
                        Logout
                    </MudButton>

                </ChildContent>
            </MudMenu>
            <MudIconButton Icon="@Icons.Material.Outlined.Menu"
                           Size="Size.Large"
                           Style="margin-left: 50px; color: var(--mud-palette-text-primary);"
                           OnClick="@(() => _isDrawerOpen = !_isDrawerOpen)" />

        </MudAppBar>
        <div class="main-content">
            @Body
        </div>
    </MudLayout>

    <MudScrollToTop>
        <MudFab Color="Color.Tertiary"
                Icon="@Icons.Material.Filled.ArrowCircleUp"
                title="Go to top"/>
    </MudScrollToTop>
}
